<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <% if @pair.picture?  %>
      <div class="card-mini" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)),
             url('<%= cl_image_path @pair.picture %>')">
      </div>
    <% else  %>
      <div class="card-mini" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)),
             url('<%= image_url 'user-placeholder.png' %>')">
      </div>
    <% end %>
    <div class="card-mini-description">
          <h2><%= @pair.title %></h2>
        </div>
      </div>
    </div>
  </div>
</div>
