<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card-mini" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1508204444-a2df673be7d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');">
        <div class="card-mini-description">
          <h2><%= @pair.title %></h2>
        </div>
      </div>
    </div>
  </div>
</div>