<div class="panel space-4">
  <div class="panel-body">
    <ul class="list-unstyled space-3" title="Informations vérifiées">
      <li class="row row-table space-2">
        <div class="col-12 col-middle">
          Phone number
        </div>
        <div class="col-3 col-middle">
          <p><%= @profile.tel %></p>
        </div>
      </li>
      <li class="row row-table space-2">
        <div class="col-12 col-middle">
          Email
        </div>
        <div class="col-3 col-middle">
          <p><%= @profile.user.email %></p>
        </div>
      </li>
      <li class="row row-table space-2">
        <div class="col-12 col-middle">
          Address
        </div>
        <div class="col-3 col-middle">
          <% if profile.address == "" %>
            <p>Not defined</p>
          <% else %>
            <p><%= @profile.address %></p>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>