<div class="panel space-4">
  <div class="panel-header">
    Checked infos
  </div>
  <div class="panel-body">
    <ul class="list-unstyled space-3" title="Informations vérifiées">
      <li class="row row-table space-2">
        <div class="col-12 col-middle">
          Phone number
        </div>
        <div class="col-3 col-middle">
          <i class="far fa-check-circle"></i>
        </div>
      </li>
      <li class="row row-table space-2">
        <div class="col-12 col-middle">
          Email
        </div>
        <div class="col-3 col-middle">
          <i class="far fa-check-circle"></i>
        </div>
      </li>
      <li class="row row-table space-2">
        <div class="col-12 col-middle">
          Address
        </div>
        <div class="col-3 col-middle">
          <i class="far fa-check-circle"></i>
        </div>
      </li>
    </ul>
  </div>
</div>