<div class="booking-list">
  <%= link_to "Create a new pair", new_pair_path, class: 'btn btnblue btn-center' %>
  <h3>Glasses I want to wear</h3>
  <% current_user.profile.bookings.each do |booking| %>
    <%= render '/bookings/card-booking-dashboard', booking: booking %>
  <% end %>
  <h3>My glasses's bookings</h3>
  <% current_user.profile.pairs.each do |pair| %>
    <% pair.bookings.each do |booking| %>
      <%= render '/bookings/card-booking-dashboard', booking: booking %>
    <% end %>
  <% end %>
</div>
