// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

// Define fonts for body and headers
$body-font: "Montserrat", "Helvetica", "sans-serif";
$headers-font: "Montserrat", "Helvetica", "sans-serif";

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

p {
  font-size: 14px;
}

.bold {
  font-weight: bold;
}

.blue-font {
  color: #235789;
}

.green-font {
  color: #77ACA2;
}

.red-font {
  color: #E63946;
}

.dark-font {
  color: #0D0630;
}

