<h2 class="forgot-password-title blue-font">Forgot your password?</h2>

<container class="form-container">
  <div class="form-div form-div-heighter blue-font">

    <a class="back-to-sign" href="/users/sign_in">< back to sign in</a>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs lowercase">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.button :submit, "send me reset password instructions", class: "w-400 submit-button red-hover" %>
      </div>
    <% end %>
  </div>
</container>