.pair-card-big{
  position: relative;
  height: 400px;
  width: 800px;
  background-color: white;
  margin: 30px auto;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  display: flex;
}

.pair-card-big-picture{
  height: 400px;
  width: 450px;
  background-repeat: none;
  background-size: cover;
}

.pair-card-big-body{
  width: 350px;
}

.pair-card-big-infos{
  padding: 10px 20px;
  overflow: hidden;
}

.pair-card-big-controls{
  padding-top: 5px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 140px;
  margin: 0 auto;
}

.pair-card-big-correction{
  display: flex;
  justify-content: space-around;
}
