.card-mini {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}

.card-mini-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card-mini-description h2 {
  font-size: 24px;
}