.forgot-password-title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.form-container {
  display: flex;
  justify-content: center;
}

.form-div {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 40px 50px;
  margin: 30px;
  background: #FFFFFF;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  font-size: 14px;
}

.form-div-heighter{
  padding-top: 60px;
}

.form-field{
  width: 400px;
  height: 45px;
  background: #FFFFFF;
  border: 1px solid #235789;
  box-sizing: border-box;
  border-radius: 6px;
}

.submit-button {
  margin-top: 30px;
  margin-bottom: 15px; 
  background-color: none;
  border: 1.5px dashed #E63946;
  box-sizing: border-box;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  text-align: center;
  color: #E63946;
}

.red-hover:hover {
  border: 1.5px solid;
  color: #E63946;
}

.green-hover:hover {
  border: 1.5px solid;
  color: #77ACA2;
}

.green-button{
  border: 1.5px dashed #77ACA2;
  color: #77ACA2;
}

.back-to-sign{
  position: absolute;
  top: 10px;
  left: 10px;
}


.correction-fields {
  display: flex;
  justify-content: flex-start;
}

.w-150 {
  width: 185px;
}

.margin-right {
  margin-right: 30px;
}

.w-300 {
  width: 300px;
}

.picture-show {
  height: 50vh;
  width: 40vw;
  margin-right: 50px;
  border: 1px solid black;
  margin-top: 25px;
}

.picture-uploader {
  bottom: 100px;
  left: 100px;
}