.form-container {
  display: flex;
  justify-content: center;
}

.form-div {
  display: flex;
  justify-content: center;
  padding: 40px 50px;
  margin: 30px;
  background: #FFFFFF;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  font-size: 14px;
}

.form-field{
  width: 400px;
  height: 45px;
  background: #FFFFFF;
  border: 1px solid #235789;
  box-sizing: border-box;
  border-radius: 6px;
}

.sign-button{
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 5px;
  background-color: none;
  border: 1.5px dashed #E63946;
  box-sizing: border-box;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bolder ;
  line-height: normal;
  font-size: 18px;
  text-align: center;
  color: #E63946;
}

