.panel {
  border: 1px solid #dce0e0;
  background-color: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-align: center;
}

.panel-header {
  background-color: #edefed;
  height: 40px;
  line-height:40px
}

.panel-body {
  position: relative;
}

.panel-body>*:first-child {
  margin-top: 0;
}

.space-3 {
    margin-bottom: 18px;
}


.row.row-table {.col-middle {
  vertical-align: middle;
}
    width: 100%;
    width: -webkit-calc(100% + 24px);
    width: -moz-calc(100% + 24px);
    width: calc(100% + 24px);
}
.space-2 {
    margin-bottom: 12px;
}

.row-table {
  display: table;
  table-layout: fixed;
}

.row {
  margin-left: -12px;
  margin-right: -12px;
}

.col-middle {
  vertical-align: middle;
}